<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding comments : </title>
</head>
<body>
    <h2>Making a new comments:</h2>
    <form action="http://localhost:8000/comments" method="post">
        <section>

            <label for="username">Enter Username : </label>
        <input type="text" id="username" placeholder="username" name="name">

            <label for="data">Enter your comments : </label><br>
        <textarea name="comment" id="data" rows="5" cols="50"></textarea>

        </section>
        <button>submit</button>
    </form>
</body>
</html>